@media (max-width:1100px){	
.block .container{width:970px}
.container{width:970px}
footer{padding:55px 35px 35px}
.bristou-carousel.style3{margin:0}
}


@media (max-width:980px){
.block .container{width:760px}
.container{width:760px}
.bristou-carousel{margin:0;width:100%}
.owl-nav{padding:0 20px}
aside.sidebar, .bristou-col ~ aside.sidebar{float:left;margin-top:50px;padding:0 15px;width:100%}
.bristou-instagram .row li{float:left;width:16.666%}
nav ul{display:none}
nav{min-height:70px}
.bristou-blog .row > div.col-md-6{float:left;width:50%}
.related-posts{text-align:center}
.related-posts .row > div{display:inline-block;margin:0 -1px;width:50%}
.single-post.side-post .post-img{margin:40px 0 0}
.post-img.link{font-size:15px;padding:100px 20px;word-wrap:break-word}
.custom-grid1,
.custom-grid2{width:100%}
.sidemenu-btn{text-align:center}
.header-search{text-align:center}
.about-widget > img{width:100%}
.add img{width:100%}

}


@media (max-width:767px){
.container,
.block .container{padding:0 15px;width:100%}
.bristou-slide-name,
.bristou-carousel.style2 .bristou-slide-name{background:#fafafa;border:0;float:left;left:0;opacity:1;position:relative;top:0;width:100%;
	-webkit-transform:translate(0);
	-moz-transform:translate(0);
	-ms-transform:translate(0);
	-o-transform:translate(0);
	transform:translate(0);
}
.bristou-carousel.style3 .bristou-slide-name{width:100%}
.bristou-instagram .row li{width:33.334%}
.rounded-socials > a{font-size:11px;height:28px;line-height:28px;margin:0 1px;width:28px}
.bristou-post.list .post-img{display:unset;float:left;width:100%} 
.post-detail{display:unset;float:left;padding:40px 0 0;text-align:center;width:100%}
.post-detail .cat{margin:0 auto 16px}
.bristou-post.list .meta:before{left:50%;margin-left:-40px}
.bristou-post.list .meta{text-align:center}
.other-articles{float:left;height:auto;margin:20px 0;position:relative;top:0}
.other-articles a, .other-articles a:last-child{
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
}
.bristou-author > img{display:table}
.author-detail{display:unset;float:left;padding:30px 0 0;width:100%}
.comment > img{display:table}
.comment-detail{display:unset;float:left;padding:30px 0 0;width:100%}
.post-img iframe{min-height:0}
.post-img iframe.audio{min-height:190px}
}

@media (max-width:480px){
.bristou-blog .row > div.col-md-6{width:100%}
.fancy-post-name{float:left;left:0;position:relative;width:100%}
.fancy-post{margin:0}
.related-posts .row > div{width:100%}
blockquote{padding:25px}
}

